---
import Layout from "../layouts/Layout.astro"
---

<Layout title="About">
    <section>
            <h1>About</h1>
            <article>
                <p>
                    Greetings! I'm Julian, a web developer, tech enthusiast and creative spirit, based in the Philippines.Beyond the lines of code, my interests extends on animation, and 3d stuffs.
                </p>
                <p>
                    Welcome to my blog, where I'll be sharing insights ranging from spontaneous thoughts to valuable information as I venture into the tech industry, constantly expanding my knowledge, with a keen focus on all things tech
                </p>
            </article>
        </section>
</Layout>